<?xml version="1.0" encoding="UTF-8"?>
<config team="War Botte" color="000000">
	<icon name="icone.png"/>
	<sound name="slvr.wav"/>
	<waragents>
		<warexplorer name="BrainExplorer.class"/>
		<warrocketlauncher name="BrainRocketLauncher.class"/>
		<warbase name="BrainBase.class"/>
	</waragents>
</config>